body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

kbd {  
    border: 1px solid #666666;  
    border-radius: 4px;  
    padding: 3px 5px;  
    margin: 2px;  
    color: #fff;  
    text-decoration: none; 
    background-color: #000;
} 

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
}
